@charset "utf-8";
@import url('reset.css');

/* font */
body{font-family: var(--ft-family-main);font-weight: 400;letter-spacing: -3%;}

/* Pretendard */
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 300;
	src: local("Pretendard-Light"),
		url("../font/Pretendard-Light.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-Light.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 500;
	src: local("Pretendard-Light"),
		url("../font/Pretendard-Regular.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-Regular.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 600;
	src: local("Pretendard-SemiBold"),
		url("../font/Pretendard-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */
		url("../font/Pretendard-SemiBold.woff") format("woff"), /* Modern Browsers */
		url("../font/Pretendard-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* common style */
.h1-title {
	font-size: 48px;
	line-height: 48px;

	
} 
.h2-title {
	font-size: 32px;
	line-height: 32px;
	
}
.h3-title {
	font-size: 22px;
	line-height: 22px;
	
}
.font-body-style1 {
	font-size: 22px;
	line-height: 22px;

}
.font-body-style2 {
	font-size: 20px;
	line-height: 20px;

}
.font-body-style3 {
	font-size: 18px;
	line-height: 18px;

}
.font-body-style4 {
	font-size: 16px;
	line-height: 16px;

}
.font-body-style5 {
	font-size: 15px;
	line-height: 15px;

}
.font-body-caption {
	font-size: 15px;
	line-height: 15px;
	
}
.font-body-caption-sm {
	font-size: 14px;
	line-height: 14px;
	
}
@media (max-width: 768px) {
	.h1-title {
		font-size: 32px;
		line-height: 32px;		
	} 
	.h2-title {
		font-size: 22px;
		line-height: 22px;		
	}
	.h3-title {
		font-size: 22px;
		line-height: 22px;		
	}
	.font-body-style1 {
		font-size: 16px;
		line-height: 16px;	
	}
	.font-body-style2 {
		font-size: 15px;
		line-height: 15px;	
	}
	.font-body-style3 {
		font-size: 14px;
		line-height: 14px;	
	}
	.font-body-style4 {
		font-size: 16px;
		line-height: 16px;	
	}
	.font-body-style5 {
		font-size: 15px;
		line-height: 15px;	
	}
	.font-body-caption {
		font-size: 14px;
		line-height: 14px;		
	}
	.font-body-caption-sm {
		font-size: 13px;
		line-height: 13px;		
	}
}