
/**
레아아웃과 공통 컴포넌트 css
**/
/* font */
body {
    font-family: var(--font-family-main);
    font-weight: 400;
    letter-spacing: -0.02em
}

/* common style */
.h1-title {
    font-size: 48px;
    line-height: 48px;
}

.h2-title {
    font-size: 32px;
    line-height: 32px;
}

.h3-title {
    font-size: 22px;
    line-height: 22px;
}

.font-body-style1 {
    font-size: 22px;
    line-height: 22px;
}

.font-body-style2 {
    font-size: 20px;
    line-height: 20px;
}

.font-body-style3 {
    font-size: 18px;
    line-height: 18px;
}

.font-body-style4 {
    font-size: 16px;
    line-height: 16px;
}

.font-body-style5 {
    font-size: 15px;
    line-height: 15px;
}

.font-body-caption {
    font-size: 15px;
    line-height: 15px;
}

.font-body-caption-sm {
    font-size: 14px;
    line-height: 14px;
}

@media (max-width: 768px) {
    .h1-title {
        font-size: 32px;
        line-height: 32px;
    }

    .h2-title {
        font-size: 22px;
        line-height: 22px;
    }

    .h3-title {
        font-size: 22px;
        line-height: 22px;
    }

    .font-body-style1 {
        font-size: 16px;
        line-height: 16px;
    }

    .font-body-style2 {
        font-size: 15px;
        line-height: 15px;
    }

    .font-body-style3 {
        font-size: 14px;
        line-height: 14px;
    }

    .font-body-style4 {
        font-size: 16px;
        line-height: 16px;
    }

    .font-body-style5 {
        font-size: 15px;
        line-height: 15px;
    }

    .font-body-caption {
        font-size: 14px;
        line-height: 14px;
    }

    .font-body-caption-sm {
        font-size: 13px;
        line-height: 13px;
    }
}

/* ==========================================================================
	icon
   ========================================================================== */
.ico {
    display: inline-flex;
}

.ico::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.ico.ico-login::after {
    background: url(../img/common/ico_login.svg) no-repeat;
}

.ico.ico-people::after {
    background: url(../img/common/ico_member.svg) no-repeat;
}

.ico.ico-lock::after {
    background: url(../img/common/ico_idfind.svg) no-repeat;
}

.ico.ico-home {
    width: 20px;
    height: 20px;
}

.ico.ico-home::after {
    background: url(../img/common/ico-home.svg) no-repeat;
}

.ico.ico-search::after {
    background: url(../img/common/ico-search.svg) no-repeat;
}

.ico.ico-arrow-right-wt::after {
    background: url(../img/common/ico-arrow-right-wt.svg) no-repeat;
}

.ico.ico-x {
    width: 16px;
    height: 16px;
}

.ico.ico-x::after {
    background: url(../img/common/ico-x.svg) no-repeat;
    background-size: 100% auto;
}

.ico.ico-reset {
    width: 16px;
    height: 16px;
}

.ico.ico-reset::after {
    background: url(../img/common/ico-reset.svg) no-repeat;
    background-size: 100% auto;
    width: 28px;
    height: 28px;
}

.ico.ico-favor {
    width: 28px;
    height: 28px;
}

.ico.ico-favor::after {
    background: url(../img/common/ico-like-off.svg) no-repeat;
    background-size: 100% auto;
}

.ico.ico-plus::after {
    background: url(../img/common/ico-plus.svg) no-repeat;
    background-size: 100% auto;
}

.ico.ico-pen-wt {
    background: url(../img/common/ico-pencle-wt.svg) no-repeat;
    background-size: 100% auto;
}

.ico.ico-x-bl {
    background: url(../img/common/ico-x-bl.svg) no-repeat;
    background-size: 100% auto;
}

.ico.ico-facebook {
    background: url(../img/common/ico-facebook.svg) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}

.ico.ico-kakaotalk {
    background: url(../img/common/ico-kakao-m.svg) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}

.ico.ico-x-box {
    background: url(../img/common/ico-x-line.svg) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}

.ico.ico-band {
    background: url(../img/common/ico-band.svg) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}
.ico.ico-search-bl {
    background: url(../img/common/icon-search-bl.svg) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}
.ico.ico-login-org {
    background: url(../img/common/ico-login-org.svg) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}
.ico.ico-profile-card {
    background: url(../img/common/ico-profile.svg) no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
}
.ico.ico-refresh {
    background: url(../img/common/ico-reset-16.svg) no-repeat;
    background-size: 100% auto;
    width: 16px;
    height: 16px;
}
.ico.ico-h-dot {
    background: url(../img/common/icon-h-dot.svg) no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
}
.ico.ico-plus48 {
    background: url(../img/common/icon-plus-48.svg) no-repeat;
    background-size: 100% auto;
    width: 48px;
    height: 48px;
}
.ico.ico-search-blue::after {
    background: url(../img/common/ico_h28_search_blue.svg) no-repeat;
    background-size: 100% auto;
    width: 28px;
    height: 28px;
}
.ico.ico-del24 {
    background: url(../img/common/ico_del24.svg) no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
}

.ico.ico-share {
    background: url(../img/common/ico-share.svg) no-repeat;
    background-size: 100% auto;
    width: 28px;
    height: 28px;
}
.ico.ico-facebook::after {
    background: url(../img/common/ico-facebook.png) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}
.ico.ico-twitter::after {
    background: url(../img/common/ico-sns-x.png) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}
.ico.ico-band::after {
    background: url(../img/common/ico-sns-band.png) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}
.ico.ico-blog::after {
    background: url(../img/common/ico-sns-blog.png) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}
.ico.ico-kakao::after {
    background: url(../img/common/ico-sns-kakao.png) no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
}
.ico.ico-member-type1::after {
    background: url(../img/common/ico-member-type1.svg) no-repeat;
    background-size: 100% auto;
    width: 48px;
    height: 48px;
}
.ico.ico-member-type2::after {
    background: url(../img/common/ico-member-type2.svg) no-repeat;
    background-size: 100% auto;
    width: 48px;
    height: 48px;
}

@media (max-width: 768px) {
    .ico.ico-pen-wt {
        width: 20px;
        height: 20px;
    }
}
.like-button.is-active .ico.ico-favor::after {
    background: url(../img/common/icon-favoritor-ac.svg) no-repeat;
    background-size: 100% auto;
}
/* ==========================================================================
	button
   ========================================================================== */
.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.button-area.flex-end {
    justify-content: flex-end;
    margin-top: 40px;
}
.button-area.flex-start {
    justify-content: flex-start;    
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-main);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s;
    text-decoration: none;
    white-space: nowrap;
}

.btn-form-size {
    height: 42px;
    font-size: 14px;
    padding: 0 16px;
}

.btn-only-icon {
    padding: 0;
    margin: 0;
    border-radius: initial;
    background-color: transparent;
}

.btn-rounded {
    border-radius: 70px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--font-color-white);
}

.btn-primary:hover {
    background-color: #475D85;
    /* Slightly darker */
}

.btn-primary:focus,
.btn--primary:active {
    background-color: #3F5276;
    /* Even darker for focus/active */
    box-shadow: 0 0 0 3px rgba(79, 103, 147, 0.4);
}

.btn-primary:disabled {
    background-color: rgba(79, 103, 147, 0.4);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.btn-primary.btn-lg i {
    margin-left: 73px;
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--font-color-primary);
    border-color: var(--border-color-primary);
}

.btn-secondary:hover {
    background-color: var(--color-gray-50);
}

.btn-secondary:focus,
.btn--secondary:active {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(79, 103, 147, 0.4);
}

.btn-secondary:disabled {
    background-color: var(--color-gray-100);
    color: var(--color-gray-600);
    border-color: var(--color-gray-200);
    cursor: not-allowed;
}

.btn.btn-black {
    font-size: 18px;
    line-height: 54px;
    padding: 0 20px;
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-600);
}

.btn-gray {
    font-size: 18px;
    line-height: 54px;
    padding: 0 20px;
    color: var(--color-black);
    background-color: #E1E6F1;
    border: 1px solid var(--color-gray-600);
    border: 0;
    font-weight: 500;
}
/* .btn-gray.btn-md {
    font-size: 15px;
    line-height: 15px; 
    height: 40px;
} */
.btn-line-box {
    height: 56px;
    min-width: 79px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-line-box i {
    margin-right: 12px;
}

.btn-blue {
    background-color: #0096E0;
    color: #fff;
    font-size: 18px;
    line-height: 54px;
    padding: 0 20px;
}

.btn.btn-close.only-icon {
    border: 0;
    background-color: transparent;
    padding: 0;
    min-width: auto;
    cursor: pointer;
}

.btn-family {
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
}

.btn-family::after {
    content: '';
    display: inline-flex;
    width: 8px;
    height: 12px;
    background: url(../img/common/ico_arrow.svg) no-repeat center center;
    background-size: contain;
}

.btn-family.is-active::after {
    transition: all 0.3s;
    transform: rotate(-180deg);
}

/* 더보기 버튼 */
.button-area.btn-load-more {
    margin-top: 50px;
}

.btn-load-more button {
    border: 0;
    background-color: var(--color-white);
    padding: 16px 60px;
    gap: 13px;
    border-radius: 60px;
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    box-shadow: 0px 0px 24px 0px #0000001A;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- SIZES --- */
.btn-lg {
    height: 96px;
    font-size: 24px;
    padding: 0 60px;
}

.btn-md {
    height: 56px;
    font-size: 18px;
    padding: 0 24px;
    gap: 8px;
}
.btn-xsm {
    height: 40px;
    font-size: 14px;
    padding: 0 16px;
}

.btn-sm {
    height: 32px;
    font-size: 14px;
    padding: 0 16px;
}

@media (max-width: 768px) {
    .btn {
        border-radius: 4px;
    }

    .btn-md {
        height: 48px;
        font-size: 16px;
        padding: 0 16px;
        gap: 8px;
    }
    .ico.ico-plus::after {
        width: 14px;
        height: 14px;
        background-size: contain;
        background-position: center top;  
    }
    .btn-load-more button {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 60px;
        gap: 8px;
    }

}

.dropdown-wrap {
    position: relative;
}

/* ==========================================================================
	Input
   ========================================================================== */
.input-group.search {
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    padding: 3px;
    background: linear-gradient(90deg, #0178FF 0%, #4F6793 100%);
    margin-top: 1rem;
    box-shadow: 0 4px 15px rgba(1, 120, 255, 0.2);
    width: 100%;
}

.input-group-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--color-white);
    border-radius: 100px;
    height: 50px;
    width: 100%;
}

.input-group.search input {
    border: 0;
    height: 50px;
    margin-left: 10px;
    width: calc(100% - 60px);
    background-color: transparent;
    color: var(--font-color-999);
    text-indent: 10px;
}

.input-group-inner input::placeholder {
    color: var(--font-color-999);
}

.input-group-inner .btn-search {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0;
    margin-right: 13px;
    background-color: transparent;
    cursor: pointer;
}

/* //tab */
.tab-head {
    display: flex;
    gap: 8px;
}

.tab-menu {
    width: 160px;
    height: 56px;
    gap: 8px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-white);
    color: var(--font-color-primary);
    cursor: pointer;
}

.tab-menu.is-active {
    background-color: #4F6793;
    color: var(--color-white);
}
.tab-container-full .tab-content {
    display: none;
}
.tab-container-full .tab-content.is-active {
    display: inline-flex;
    width: 100%;
}
@media (max-width: 768px) {
    .tab-menu {
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        padding: 0 16px;
        width: auto;
    }
}

/* 페이지네이션 */
.pagination-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 40px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    margin: 0 2px;
}

.page-link {
    display: block;
    height: 36px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--font-color-999);
    background-color: var(--color-white);
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.page-link:hover {
    background-color: var(--color-ed);
    color: var(--font-color-primary);
}

.page-item.active .page-link {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 700;
}

.page-item.disabled .page-link {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.page-link.btn-page {
    color: var(--font-color-999);
    font-size: 25px;
    line-height: 18px;
}

/* radio */

.radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.radio-item input[type="radio"] {
    display: none;
    /* 기본 라디오 버튼 숨기기 */
}

/* 커스텀 라디오 버튼 스타일 */
.radio-item .custom-radio {
    display: inline-block;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #C2CADB;
    border-radius: 50%;
    position: relative;
    transition: border-color 0.2s;    
}
.radio-item.is-dissabled .custom-radio {
    opacity: 0.4;
    pointer-events: none;
}
.radio-item input[type="radio"]:disabled+.custom-radio {
    opacity: 0.4;
    pointer-events: none;
}
.radio-item.no-text {
    width: 24px;
    margin: 0 auto;
}
.radio-item input[type="radio"]:checked+.custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--color-secondary);
    border-radius: 50%;
}

/* checkbox */
.check-wrap input[type="checkbox"] {
    display: none;
}

.check-wrap input[type="checkbox"]+label {
    cursor: pointer;
}

.check-wrap input[type="checkbox"]+label>span {
    vertical-align: middle;
    padding-left: 5px;
}

/* label:before에 체크하기 전 상태 CSS */
.check-wrap input[type="checkbox"]+label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-gray-300);
    background: #fff url(../img/common/icon-check-off.svg) no-repeat center center;
    border-radius: 4px;
    vertical-align: middle;
}

/* label:before에 체크 된 상태 CSS */
.check-wrap input[type="checkbox"]:checked+label:before {
    content: "";    
    background: var(--color-secondary) url(../img/common/icon-check-off.svg) no-repeat center center;
}
.check-wrap input[type="checkbox"]:disabled+label:before {
    opacity: 0.3;
}
@media (max-width: 768px) {
    .radio-item {
        font-size: 15px;
        line-height: 17px;
    }

    .check-wrap input[type="checkbox"]+label {
        font-size: 15px;
        line-height: 17px;
        display: flex;
        justify-content: space-between;
    }

    .check-wrap input[type="checkbox"]+label>span {
        flex: 1;
        padding-left: 6px;
    }
}

.input-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-section .check-list li .file-input-wrapper {
    width: 290px;
    height: 40px;
}

/* 입력 필드, 셀렉트 박스 */
.radio-group {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.input-area input[type="text"],
.input-area input[type="date"],
.input-area input[type="password"],
.input-area select {
    border: 1px solid var(--color-gray-300);
    border-radius: 6px;
    padding: 0 12px;
    font-size: 15px;
    height: 42px;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    flex: 1;
}

.input-area.has-button {
    justify-content: space-between;
    gap: 5px;
}

.input-area.has-button input {
    width: 160px;
}

.input-area input[type="text"]::placeholder,
.input-area select {
    color: #999999;
}

.input-area select option[value=""][disabled] {
    display: none;
}

.input-area .short-input {
    flex: 0 1 200px;
    margin-right: 10px;
}

/* 파일 첨부 영역 */
.file-input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.file-input-wrapper input[type='file'] {
    width: 100%;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.form-section .check-list li .file-input-wrapper input[type='text'] {
    width: 200px;
    height: 40px;
    border: 1px solid var(--color-gray-300);
    border-radius: 6px;
    padding: 0 12px;
    font-size: 15px;
}

.form-section .check-list li .file-input-wrapper input[type='text']::placeholder {
    color: #999999;
}

.btn-file-upload {
    padding: 0 16px;
    min-width: 83px;
    height: 40px;
    background-color: #E1E6F1;
    color: var(--font-color-primary);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .form-section .check-list li .file-input-wrapper input[type='text'] {
        width: 100%;
    }

    .form-section .check-list li .file-input-wrapper {
        width: 100%;
    }

    .input-area input[type="text"],
    .input-area select {
        width: 100%;
    }

    .btn-file-upload {
        min-width: 83px;
    }
}

/* 반복영역 건너뛰기 */
.skip {
    position: relative;
    top: 0px;
    left: 0px;
    height: 0px;
    font-size: 0px;
    z-index: 999999;
}

.skip a {
    left: -3000%;
    position: absolute;
    font-size: 12px;
}

.skip a:hover,
.skip a:focus,
.skip a:active {
    color: rgb(255, 255, 255);
    display: block;
    height: 30px;
    left: 0px;
    line-height: 30px;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 999999;
    background: rgb(29, 96, 167);
}

/* 레이아웃 */
.wrap {
    width: 100%;
    min-width: var(--layout-max-width);
    margin: 0 auto;
}
@media (max-width: 1440px) {
    .wrap {
        min-width: 100%;
    }
}    
@media (max-width: 768px) {
    .wrap {
        min-width: 100%;
    }

}

/* /서울시 공통 */
.top-nav {
    min-height: 31px;
    background-color: #5474c0;
}

.top-nav__seoul-city-logo {
    width: 76px;
    margin-right: 75px;
    margin-top: -7px;
}

.top-nav__notice-mention {
    margin: 0;
    display: inline-block;
    color: #626262;
    font-size: 13px;
}

.front-icon {
    margin-right: 10px;
}

.top-nav__notice-link:hover .top-nav__notice-mention {
    color: #0096e0;
}

.top-nav__right {
    float: right;
    text-align: right;
}

.top-nav__right__link {
    color: #626262;
    font-size: 13px;
    padding: 7px 16px;
}

.top-nav__right__link:hover {
    color: #0096e0;
}

.top-nav__right__link--last {
    padding-right: 0;
    padding-left: 0;
}

.top-nav__right__link--last__icon {
    margin-top: -3px;
}

/* 루띠 애니메이션 */
#lottie-pc, #lottie-mo {
    width: 100%;
    height: auto;
}
.top-banner-area #lottie-mo {
    display: none;
}
@media (max-width: 768px) {
    .top-banner-area {
        margin-right: 58px;
    }

}
@media (max-width: 480px) {
    .top-banner-area {
        margin: 0;
    }
    .top-banner-area #lottie-pc {
        display: none;
    }
    .top-banner-area #lottie-mo {
        display: block;
    }
}
/* #lottie-mo {
    display: none;
}
#lottie-pc {
    display: block;
}

@media (max-width: 375px) {
    #lottie-pc {
        display: none;
    }
    .top-banner-area,
    #lottie-mo {
        display: block;
    }
} */
/* //루띠 애니메이션 */
/* //레이아웃 */
.header-top__inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 33px;
    flex:1;
}

.center-group {
    display: flex;
}

.center-group a {
    font-weight: 700;
    color: var(--font-color-primary);
    position: relative;
    padding: 0 17px;
}

.center-group a:not(:last-child):after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(21, 21, 21, 0.3);
}

.top-utilmenu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.top-utilmenu li a {
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-hambuger {
    display: none;
}
.mo-search-area {
    display: none;
}
.mo-search-area.is-active {
    display: block;
}
@media (max-width: 768px) {
    .header-top__inner {
        /* flex-direction: column; */
        align-items: center;
        height: auto;
        max-width: 100%;
        position: relative;
        
    }
    .header-top-left {
        padding: 0 16px;
        height: 74px;
        position: relative;
        width: calc(100% - 16px);
        flex: inherit;
    }
    .center-group { 
        display: none;
    }
    .top-utilmenu {
        display: none;
    }
    .top-banner-area img {
        width: 100%;
    }
    .btn-hambuger {
        display: inline-flex;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 16px;
        top: 20px;        
    }
    .gnb-area-full {
        display: none;
    }
    .gnb-area-full.is-active {
        display: flex;
        position: fixed;
        width: 100%;
        top: 47px;
        left:0;
        height: calc(100vh - 47px);
        background-color: var(--color-white);
        z-index: 12;
        align-items: flex-start;
        flex-direction: column;
    }
    .gnb-inner {
        max-width: 100%;
    }
    .mo-search-area {
        display: block;
        position: relative;
        width: 100%;
        padding: 14px 16px;
    }
    .mo-search-area .btn-close-hamburger {
        position: absolute;
        right: 16px;
        top: 24px;
        border: 0;
        width: 22px;
        height: 20px;
        background-color: transparent;
    }
    .mo-search-area .btn-close-hamburger .ico-close-x-bl {
        width: 22px;
        height: 20px;
        background: url(../img/mo/ico-close-x.svg) no-repeat;
    }
    .mo-search-area  .input-group-inner {
        max-width: 80%;
        background-color: #F5F5F5;
        height: 48px;
    }
    .mo-search-area  .input-group-inner .input-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .mo-search-area  .input-group-inner input {
        border: 0;
        background-color: transparent;
        width: 80%;
        margin: 2px 0 2px 10px;        
        font-size: 20px;
        line-height: 28px;
        color: #999999;
    }
    .mo-search-area  .input-group-inner input::placeholder {
        font-size: 20px;
        line-height: 28px;
        color: #999999;
    }
    .mo-search-area .ico-search-bl {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 480px) {
    .header-top__inner {
        flex-direction: column;
        align-items: flex-start;
    }
}
/* gnb */
.gnb-area-full {
    width: 100%;
    height: 64px;
    background-color: var(--color-gray-50);
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
}

.gnb-inner {
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 0 auto;
    height: 100%;
}

.gnb-list {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    border-left: 1px solid var(--color-gray-300);
}

.gnb-list > li {
    border-right: 1px solid var(--color-gray-300);
    height: 100%;
    display: flex;
    width: calc(100% / 5);
    align-items: center;
    justify-content: center;
    position: relative;
}
.gnb-list li.search-item {
    width: 90px;
}
.gnb-list li.search-item.is-active {
    background: #EBF1F8;
}
.gnb-list li.search-item button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.gnb-list > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--font-color-primary);
}
.gnb-list > li > a:hover {
    color: var(--color-primary);
    background: #EBF1F8;
}
.gnb-sub-list {
    display: none; 
    width: 100%;
    position: absolute;
    top: 63px;
    left: -1px;
    z-index: 10;       
    border-left: 1px solid #D8D9DA;
}
.gnb-sub-list.last::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    right: -2px;
    top: 0;
    background-color: #D8D9DA;
}
.gnb-list.is-active li.search-item::after {
    content: '';
    display: block;
    width: 1px;
    height: 318px;
    position: absolute;
    right: -1px;
    top: 61px;
    background-color: #D8D9DA;
    z-index: 10;
}
.gnb-list.is-active li.search-item.is-active {
    background: #EBF1F8;
}
.gnb-sub-list li a {    
    display: flex;
    width: 100%;
    height: 53px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;    
    letter-spacing: -0.36px;
    color: var(--color-black);
    padding: 16px 20px;
}
.gnb-sub-list li a:hover {
    background: #EBF1F8;
}


.gnb-sub-list.is-active {
    display: block;
}
.gnb-dim-bg {
    width: 100%;
    height: 318px;
    position: absolute;
    top: 212px;
    left: 0;
    z-index: 7;    
    border-bottom: 1px solid #D8D9DA;
    background: #FFF;
    display: none;
}
.gnb-dim-bg.is-active {
    display: block;
}
.gnb-list > li:hover > a {
    color: #4F6793;
}

.mo-login-util {
    display: none;
}
@media (min-width: 769px) {
    .mo-search-area.is-active {
        position: absolute;
        top: 224px;
        left: 50%;
        margin-left: 217px;
        width: 496px;
        z-index: 10;
        background: #FFF;      
        display: flex;
        align-items: center;        
        gap: 8px;
    }
    .mo-search-area.is-active .input-group-inner {
        display: flex;
        justify-content: space-between;
        border-radius: 100px;
        padding: 3px;
        background: linear-gradient(90deg, #0178FF 0%, #4F6793 100%);        
        box-shadow: 0 4px 15px rgba(1, 120, 255, 0.2);
        width: 100%;
        
    }
    .mo-search-area.is-active .input-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background-color: var(--color-white);
        border-radius: 100px;
        height: 44px;
        width: 100%;
    }
    .mo-search-area.is-active .input-group-inner input {
        border: 0;
        height: 44px;
        margin-left: 10px;
        width: calc(100% - 60px);
        background-color: transparent;
        color: var(--font-color-999);
        text-indent: 10px;
    }    
    .mo-search-area.is-active .input-group-inner input::placeholder {
        color: #999999;
    }
    .mo-search-area.is-active .input-group-inner .btn-search {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 0;
        margin-right: 13px;
        background-color: transparent;
        cursor: pointer;
    }
}
@media (max-width: 768px) {
    .gnb-area-full {
        overflow-y: scroll;
    }

    .gnb-list li {
        border-right: 0;
        width: 100%;
        height: auto;
    }
    .gnb-inner {
        display: flex;
        position: relative;
        max-width: 100%;
    }
    .gnb-list {
        flex-direction: column;
        width: 140px;
        background-color: #F8F8F8;
        justify-content: flex-start;
        align-items: flex-start;
        border-right: 1px solid #D8D9DA;
        border-top: 1px solid #D8D9DA;
    }
    .gnb-list > li > a {
        height: auto;
        padding: 18px 20px;
        font-size: 18px;
        line-height: 28px;
        color: var(--color-black);
        border-bottom: 1px solid #D8D9DA;
        justify-content: flex-start;
    }
    .gnb-list li.search-item {
        display: none;
    }
    .mo-login-util {
        display: flex;
        flex-direction: column;
        position: absolute;
        left:0;
        bottom:0;
        width: 139px;
    }
    .mo-login-util a {
        display: block;
        padding: 18px 20px;
        color: var(--color-white);
        font-size: 18px;
        line-height: 28px;
    }
    .mo-login-util a.item01 {
        background-color: #F1764C;
    }
    .mo-login-util a.item02 {
        background-color: #4F6793;
    }

    .gnb-list > li {
        position: static;
    }
    .gnb-list > li.is-active > a {
        color: var(--olor-primary);
        background-color: #fff;
        position: relative;
    }
    .gnb-list > li.is-active > a::after {
        content: '';
        display: block;
        width: 20px;
        height: 16px;
        background: url(../img/common/ico-arrow-t-right.png) no-repeat right center;
        overflow: hidden;
        position: absolute;
        right: -11px;
        top: 50%;
        transform: translateY(-50%);
    }
    .gnb-sub-list {
        border-top: 1px solid #D8D9DA;
        width: calc(100% - 155px);
        border-left: 0;        
        left: 155px;
        top:0;
    }
    .gnb-sub-list.last {
        border-right: 0;
    }
    .gnb-sub-list li a {
        color: #151515;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; /* 175% */
        letter-spacing: -0.32px;
        padding: 15px 0;
    }

}

/* //content */
.content {
    width: 100%;
}

.content-inner-fix {
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 0 auto;
    padding: 30px 0 40px;
}

.content-inner-full {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.location {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    max-width: var(--layout-max-width);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.location ol {
    display: flex;
    align-items: center;
    gap: 6px;
}

.location ol li {
    display: flex;
    align-items: center;
    line-height: 0.5;
    color: var(--color-333);
    gap: 2px;
}

.location ol li:not(:last-child)::after {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-flex;
    background: url(../img/common/ico-arrow-right.svg) no-repeat center center;
}

@media (max-width: 768px) {
    .location {
        padding: 0 16px;
    }

}

.page-title-wrap {
    display: flex;
    justify-content: space-between;
    color: var(--font-color-primary);
    align-items: center;
}

.page-title-wrap .h1-title {
    font-weight: 600;
}

.page-title-wrap .description {
    margin-top: 16px;
    line-height: 32px;
}

.page-title-wrap .search-wrap {
    max-width: 800px;
    width: 100%;
}

.page-title-wrap.has-bottom-line {
    padding-bottom: 26px;
    border-bottom: 2px solid var(--color-black);    
}

.content-section {
    padding: 64px 0 120px;
}

.bottom-sns-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    color: var(--color-gray-800);
    margin-top: 60px;
}

.bottom-sns-area .sns-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bottom-sns-area p {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .content-inner-fix {
        max-width: 100%;
        padding: 0px 0 20px;
    }

    .content-section {
        padding: 64px 20px 64px;
    }
    .content-section.no-padding {
        padding: 64px 0px 64px;
    }
    .location {
        height: 48px;
    }

    .page-title-wrap {
        margin-top: 32px;
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .bottom-sns-area {
        flex-direction: column;
        padding: 24px 20px;
        margin-top: 0;
    }

    .bottom-sns-area p {
        width: 100%;
        display: flex;
        justify-content: flex-end;

    }

    .bottom-sns-area .sns-list {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .page-title-wrap.has-bottom-line {
        margin: 0 16px;
        padding-bottom: 18px;
    }
}

/* //footer */
.footer {
    width: 100%;
    background-color: var(--footer-bg-color);
}

.footer-inner {
    width: 100%;
    margin: 0 auto;
    max-width: var(--layout-max-width);
    padding: 30px 0 60px;
}

.footer-menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    padding-bottom: 30px;
}

.footer-menu a {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.footer-menu a.highlight-color {
    color: var(--color-white);
    font-weight: 700;
}

.footer-menu a:not(:last-child):after {
    content: '';
    display: inline-flex;
    width: 1px;
    height: 12px;
    background-color: rgba(153, 153, 153, 0.6);
    margin: 0 30px;
}

.footer-info-area {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}

.footer-info-area .info {
    margin-top: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.footer-info-area .info span {
    margin: 0 10px;
}

.footer-info-area .copy {
    margin-top: 16px;
    color: rgba(153, 153, 153, 0.6);
    letter-spacing: 0;
    font-weight: 400;
}

.footer-mark-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}


.footer-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-family {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.dropdown-list {
    display: none;
}

.dropdown-list.is-open.footer-family-dropup {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 59px;
    display: flex;
    flex-direction: column;
    background: var(--color-black);
    max-height: 480px;
    width: 100%;
    gap: 0px;
    overflow-y: auto;
}

.dropdown-list.is-open.footer-family-dropup a {
    display: block;
    padding: 16px 13px;
    color: var(--color-white);
    font-size: 16px;    
    font-weight: 400;
    line-height: 16px;
}

.footer .btn-black {
    width: 240px;
}

@media (max-width: 768px) {
    .footer-inner {
        max-width: 100%;
        padding: 30px 0 60px;
    }

    .footer-menu {
        padding: 0 20px 16px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.5);
        flex-wrap: wrap;
    }

    .footer-menu a:not(:last-child):after {
        margin: 0 10px;
    }

    .footer-menu a {
        margin: 8px 0;
    }

    .footer-info-area {
        display: flex;
        flex-direction: column;
        padding: 24px 20px;
    }

    .footer-link {
        gap: 24px;
        margin-top: 20px;
    }

    .footer .footer-family>.btn-black {
        width: 48%;
    }

    .footer .dropdown-wrap .btn-black {
        width: 100%;
    }

    .footer .dropdown-wrap {
        width: 48%;
    }

    .footer-mark-area {
        justify-content: space-between;
    }

    .footer-mark-area a {
        width: calc(100% / 3);
    }

    .footer-mark-area a:nth-child(1) img {
        width: 118px;
    }

    .footer-mark-area a:nth-child(2) img {
        width: 88px;
    }

    .footer-mark-area a:nth-child(3) img {
        width: 56px;
    }
    .footer .footer-family .btn {
        height: 48px;
    }
    .dropdown-list.is-open.footer-family-dropup {
        left: auto;
        top: auto;
        bottom: 59px;
        max-height: 240px;
        width: 130%;
        right: 0;
    }
    
}

/* 팝업 */
body.modal-open {
    height: 100%;
    overflow: hidden;
}

.modal__wrap--bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.modal__wrap--bg.is-active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modal-wrap-container {
    border-radius: 30px;
    padding: 0 40px 30px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}

.modal__wrap--bg .modal-wrap-container {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal__wrap--bg.is-active .modal-wrap-container {
    transform: translateY(0px);
    opacity: 1;
}

.modal__wrap--bg.type-bottom .modal-wrap-container {
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.modal__wrap--bg.type-bottom.is-active .modal-wrap-container {
    transform: translateY(0);
}

.modal-wrap-container .btn-close {
    position: absolute;
    right: 40px;
    top: 24px;
}

.modal-body-container.ht-full {
    overflow-y: auto;
    height: 70vh;
}

.modal-wd1020 {
    width: 100%;
    max-width: 1020px;
}

.modal-header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid var(--color-black);
    ;
}

.modal-header .title {
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 40px;
}

@media (max-width: 768px) {
    .modal-wd1020 {
        max-width: calc(100% - 32px);
    }

    .modal-wrap-container {
        padding: 0 16px 30px;
        border-radius: 16px;
    }

    .modal-header .title {
        font-size: 18px;
        line-height: 20px;
        width: calc(100% - 50px);
    }

    .modal-wrap-container .btn-close {
        right: 16px;
        top: 16px;
    }

    .modal-footer {
        padding-top: 24px;
    }

}

/* ==========================================================================
	table
   ========================================================================== */

.table-wrap {
    margin-top: 25px;
    width: 100%;
}

.table-wrap.no-line-mg {
    border-top: 0;
    margin-top: 0;
}
.table-wrap.top-line-light  table{
    border-top: 1px solid #D8D9DA;    
}

.table-wrap.no-line-mg table {
    border-top: 0;
}

.table-wrap table {
    width: 100%;
    border-top: 2px solid var(--color-black);
    table-layout: fixed;
}

.table-wrap table tbody th {
    background-color: var(--color-gray-50);
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding: 16px;
    word-break: break-word;
    border-bottom: 1px solid var(--color-gray-300);
}
.table-wrap table tbody th.no-bg {
    background-color: #fff;
}
.table-wrap table tbody td {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding: 20px 16px;
    border-bottom: 1px solid var(--color-gray-300);
}

.table-body-only td ul {
    padding-top: 4px;
}

.table-body-only td li {
    position: relative;
    padding-left: 14px;
}

.table-body-only td li+li {
    margin-top: 8px;
}

.table-body-only td li::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-text-primary);
}

.table-list thead tr th {
    vertical-align: middle;
    text-align: center;
    background-color: #E6EBF5;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    height: 56px;
    border-left: 1px solid #fff;
}
.table-list thead tr th.text-l {
    padding-left: 16px;
}
.table-list thead tr th:first-child {
    border-left: 0;
}

.table-list tbody tr td {
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    min-height: 56px;
    padding: 16px;
    border-left: 1px solid var(--color-gray-300);
}

.table-list tbody tr td:first-child {
    border-left: 0;
}
.table-list tbody tr td.text-c {
    text-align: center;
}
.attachment-link {
    color: #4F6793;
    display: block;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.table-list tbody tr td.border-none {
    border-left: 0;
}
@media (max-width: 768px) {
    .table-wrap table tbody th {
        font-size: 16px;
        line-height: 16px;
        word-break: keep-all;
    }

    /* .table-list tbody tr td {
        font-size: 15px;
        line-height: 23px;     
    } */
    .table-wrap table tbody td {
        font-size: 15px;
        line-height: 23px;
    }
}

/* 스외치 */

.representative-switch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch-label {
    font-size: 0.875rem;
    color: #888;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-bg {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.switch-handle {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch-input:checked + .switch-bg {
    background-color: #007aff;
}

.switch-input:checked + .switch-bg .switch-handle {
    transform: translateX(20px);
}