@charset "utf-8";

/**
모든 sub css
**/
/* 페이지 타이틀 */
.section-title-container {
    text-align: center;
    padding: 20px;
}

.section-title-container .title {
    color: var(--font-color-primary);
    padding-bottom: 48px;
    position: relative;
    font-weight: 700;
}

.section-title-container .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 5px;
    background-color: var(--font-color-primary);
}

.section-title-container .description {
    color: var(--color-gray-900);
    margin: 48px auto 0;
    text-align: center;
    line-height: 32px;
}

/* 썸네일 목록 컴포넌트 */
.article-list {
    margin-top: 16px;
    background-color: var(--color-white);
    border-top: 2px solid var(--color-black);
    ;
}

.article-item {
    border-bottom: 1px solid var(--color-gray-300);
}

.article-link {
    display: flex;
    gap: 20px;
    padding: 42px 0;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.article-link:hover {
    background-color: #f8f9fa;
}

.article-thumbnail {
    width: 240px;
    height: 152px;
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-300);
    flex-shrink: 0;
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.article-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-gray-700);
}

.article-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: var(--font-color-primary);
    /* margin-top: 8px; */
    display: flex;
    align-items: center;
}

.article-title::before {
    content: '';
    display: inline-flex;
    width: 4px;
    height: 22px;
    margin-right: 8px;
    background-color: var(--font-color-primary);
}

.article-description {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--font-color-primary);
    flex-grow: 1;
}

.article-keywords {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-primary);
}

.article-tag {
    background-color: var(--color-white);
    color: var(--font-color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    width: 185px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid var(--color-gray-300);
}

@media (max-width: 768px) {
    .article-link {
        flex-direction: column;
    }

    .article-thumbnail {
        width: 100%;
        aspect-ratio: 1 / 0.6;
        height: auto;
    }

    .article-title {
        text-align: left;
    }
}

/* 게시글 상세 */

.board-view-section {
    padding-bottom: 60px;
}

.board-view-header {
    padding-bottom: 24px;
    border-bottom: 2px solid var(--color-black);
}

.board-view-header h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--color-black);
}

.board-view-content {
    margin: 40px 0;
    padding: 40px 10px;
    min-height: 400px;
    color: var(--font-color-secondary);
    font-size: var(--font-size-base);
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-placeholder);
    border: 1px solid var(--color-gray-300);
}

.board-view-info {
    font-size: var(--font-size-base);
    border-top: 1px solid var(--color-gray-300);
}

.board-view-info dl {
    display: flex;
    border-bottom: 1px solid var(--color-gray-300);
}

.board-view-info dt {
    background-color: var(--color-gray-50);
    color: var(--font-color-primary);
    padding: 20px 16px;
    width: 160px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.board-view-info dd {
    padding: 20px 16px;
    color: var(--font-color-tertiary);
    display: flex;
    align-items: center;
    gap: 8px;
}

.hashtag {
    color: var(--font-color-tertiary);
    font-size: var(--font-size-xs);
}


/* faq */
.faq-accordion {
    border-top: 2px solid var(--color-black);
    ;
}

.faq-item {
    border-bottom: 1px solid var(--color-gray-100);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    cursor: pointer;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
}

.faq-question::after {
    content: '';
    display: inline-flex;
    width: 32px;
    height: 32px;
    background: url('../img/common/ico-arrow-down.svg') no-repeat;
    transition: transform 0.3s ease;
}

.faq-question .q {
    color: var(--font-color-primary);
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-right: 24px;
}

.faq-question .faq-tit {
    flex: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.faq-item.is-active .faq-question::after {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.faq-answer-content {
    padding: 20px 20px 20px 0px;
    display: flex;
    gap: 12px;
    line-height: 1.7;
    color: var(--color-gray-900);
    margin-left: 46px;
    border-top: 1px solid var(--color-gray-300);
}

.faq-answer .a {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.faq-item.is-active .faq-answer {
    max-height: 500px;
    /* Should be larger than any possible content height */
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.faq-answer .tit {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 8px;
}

.faq-answer .text {
    color: var(--font-color-primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/* // 알자리 안내 */
.tab-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding: 48px 0;
}

.tab-nav-icon a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--font-color-primary);
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.tab-nav-icon a.is-active {
    font-weight: 600;
    color: var(--color-primary);
}

.tab-nav-icon a::before {
    content: '';
    display: inline-flex;
    width: 120px;
    height: 120px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-300);
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

.tab-nav-icon a.is-active::before {
    border: 1px solid var(--color-primary);
    background-color: #CDD9EA;
}

.tab-nav-icon a.ico-job::before {
    background-image: url(../img/common/ico-pin.svg);
}

.tab-nav-icon a.ico-suport::before {
    background-image: url(../img/common/ico-pen.svg);
}

.tab-nav-icon a.ico-puzzle::before {
    background-image: url(../img/common/ico-puzle.svg);
}

.tab-nav-icon a.ico-mic::before {
    background-image: url(../img/common/ico-mic.svg);
}

.tab-nav-icon a.ico-building::before {
    background-image: url(../img/common/ico-build.svg);
}

/* job info */
.cont-section {
    margin-top: 120px;
}

.cont-section .h2-title {
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--color-black);
    ;
    margin-bottom: 40px;
}


.job-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-50);
    gap: 48px;
    padding: 48px 0;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    text-decoration: none;
    min-width: 160px;
}

.category-icon-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.category-icon-wrapper img {
    width: 60px;
    height: auto;
}

.category-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #132037;
}

.program-list {
    margin: 0px;
}

.program-item {
    padding: 40px 0;
    border-bottom: 1px solid var(--color-gray-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: var(--font-color-primary);
    display: flex;
    align-items: center;
}

.program-title::before {
    content: '';
    display: inline-flex;
    width: 4px;
    height: 22px;
    background-color: var(--font-color-primary);
    margin-right: 8px;
}

.description-list {
    margin: 24px 0 0;
}

.description-list li {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
}

.description-list li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 110px;
    background-color: var(--font-color-primary);
}

.description-list li+li {
    margin-top: 12px;
}

.description-list li strong {
    color: #4C6390;
    font-weight: 600;
}

.program-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.program-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.program-tag {
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-300);
    color: var(--font-color-primary);
    padding: 16px 24px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.btn-go {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 19px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    flex-shrink: 0;
}

/* //검색 조건 */
.filter-options-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
}

.filter-options-top .filter-group {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.filter-group .tit {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding-left: 16px;
    background-color: var(--color-gray-50);
    width: 160px;
    display: inline-flex;
    height: 56px;
    align-items: center;
    color: var(--font-color-primary);
}

/* 메인 필터(일자리) */
.filter-main-panel {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1.2fr 1.2fr 1fr 1.6fr;
    /* 컬럼 비율 조정 */
    border-top: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
}

.filter-main-panel.column-items3 {
    grid-template-columns: 1.2fr 1.2fr 1.6fr;
}

.filter-column {
    border-left: 1px solid var(--color-gray-300);
}

.filter-column:first-child {
    border-left: none;
}

.filter-column .title {
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background-color: var(--color-gray-50);
    ;
    color: var(--font-color-primary);
    border-bottom: 1px solid var(--color-gray-300);
}

.filter-option {
    height: 293px;
    overflow-y: scroll;
}

.filter-column ul {
    display: flex;
    flex-direction: column;
}

.filter-column ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding-left: 16px;
}

.filter-column ul li.is-active {
    background-color: #F2F8FF;
}

.filter-column ul li.is-active a,
.filter-column ul li:hover a {
    color: var(--font-color-accent);
}

.filter-column ul li.is-active::before,
.filter-column ul li:hover::before {
    background-color: var(--font-color-accent);
}

.filter-column ul li::before {
    content: '';
    display: inline-flex;
    width: 4px;
    height: 4px;
    background-color: var(--font-color-primary);
    border-radius: 100px;
}

/* 근무지 컬럼 특별 스타일 */
.location-sub-column {
    display: flex;
    justify-content: space-between;
}

.location-sub-column .filter-option-wrap {
    width: calc(100% / 2);
    border-right: 1px solid var(--color-gray-300);
}

.location-sub-column .filter-option-wrap:last-child {
    border-right: 0;
}

.location-sub-column .filter-option-wrap .lo-title {
    background-color: #E6EBF5;
    padding: 8px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: var(--font-color-primary);
    border-bottom: 1px solid var(--color-gray-300);
    text-align: center;
}

/* //검색 */
.box-type.bg-gray {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gray-50);
    height: 88px;
    padding: 0 16px;
    margin-top: 24px;
}

.select-list {
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 60%;
}

.selected-option {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #333333;
    padding: 0 12px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--color-gray-300);
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.btn-remove-option {
    background-color: transparent;
    border: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.select-list .bar {
    width: 1px;
    height: 16px;
    background-color: var(--color-gray-300);
    margin: 0 5px;
}

.select-list .btn-reset {
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2px;
    border: 0;
}

.box-type.bg-gray .input-group.search {
    max-width: 500px;
    margin-top: 0;
}

/* 채용정보 */
.job-list-container {
    margin: 64px auto;
}

.job-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.job-card {
    background-color: var(--color-white);
    box-shadow: 0px 0px 24px 0px #0000001A;
    border-radius: 43px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 0 0 0;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    overflow: hidden;
    width: calc((100% / 4) - 20px);
    margin-bottom: 20px;
}

.job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.job-card .card-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    position: relative;
    gap: 4px;
}

.job-card .card-header .mark img {
    width: 40px;
}

.job-card .job-tag {
    background-color: #EAEDE2;
    color: #5A6B2F;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    padding: 0px 10px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.job-card .job-tag.type2 {
    background-color: #FEF1DE;
    color: #D46D08;
}

.job-card .job-tag.type3 {
    background-color: #ECF0F6;
    color: #4A5875;
}

.job-card .job-tag.type4 {
    background-color: #E3E7FF;
    color: #6566EB;
}

.job-card .like-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 27px;
    top: 5px;
}

.card-body {
    padding: 0 20px;
}

.card-body .title-line {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 8px;
    color: var(--font-color-primary);

    /* 말줄임(ellipsis) 2줄 처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 2줄만 표시 */
    -webkit-box-orient: vertical;
    word-break: break-all;
    /* 단어 중간 줄바꿈 허용 (필요시) */
}

.card-body .hot-icon {
    width: 20px;
    height: 20px;
}

.job-details {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #666;
    padding: 10px 0 20px;
    border-bottom: 1px solid var(--color-gray-300);
}

.job-details .bar {
    width: 1px;
    height: 13px;
    display: inline-flex;
    margin: 0 6px;
    background-color: #1515154D
}

.recruitment-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 0 30px;
}

.card-footer {
    margin-top: auto;
}

.status-button {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #777777;
    cursor: pointer;
    border: 0;
    background-color: #DEDEDE;
    transition: background-color 0.2s;
    padding: 19px 0;
}

.status-button span {
    font-weight: 400;
    color: rgba(102, 102, 102, 0.6);
}

.status-button.apply {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.status-button.apply span {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}


/* //채용 제목 */
.box-type.job-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6EBF5;
    padding: 40px;
}

.box-type.job-title .job-title-info {
    flex: 1;
}

.box-type.job-title .job-title-info .title-area {
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    color: var(--color-primary);
}

.box-type.job-title .job-title-info .title-area .date {
    width: 101;
    height: 34;
    gap: 4px;
    border: 1px solid #B9C4D8;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--font-color-primary);
    padding: 8px 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.box-type.job-title .job-title-info .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--font-color-primary);
    margin-top: 18px;
}

.box-type.job-title .job-util {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
}

.btn-like-text {
    border: 0;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--font-color-primary);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.table-wrap {
    margin-top: 25px;
    width: 100%;
}

.table-wrap.no-line-mg {
    border-top: 0;
    margin-top: 0;
}

.table-wrap.no-line-mg table {
    border-top: 0;
}

.table-wrap table {
    width: 100%;
    border-top: 2px solid var(--color-black);
    ;
}

.table-wrap table tbody th {
    background-color: var(--color-gray-50);
    ;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding: 20px 0 20px 16px;
    border-bottom: 1px solid var(--color-gray-300);
}

.table-wrap table tbody td {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding: 20px 0 20px 16px;
    border-bottom: 1px solid var(--color-gray-300);
}

.table-body-only td ul {
    padding-top: 4px;
}

.table-body-only td li {
    position: relative;
    padding-left: 14px;
}

.table-body-only td li+li {
    margin-top: 8px;
}

.table-body-only td li::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-text-primary);
}

.table-list thead tr th {
    vertical-align: middle;
    text-align: center;
    background-color: #E6EBF5;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    height: 56px;
    border-left: 1px solid #fff;
}

.table-list thead tr th:first-child {
    border-left: 0;
}

.table-list tbody tr td {
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    min-height: 56px;
    padding: 16px;
    border-left: 1px solid var(--color-gray-300);
}

.table-list tbody tr td:first-child {
    border-left: 0;
}

.attachment-link {
    color: #4F6793;
    display: block;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

/* Editor Content Area Style */
.editor-content-area {
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #D8D9DA;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-primary);
    background-color: var(--color-gray-50);
    ;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}


/* 약관 */
.gray-box.yakguan-step {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-50);
    ;
    padding: 24px 0;
}

.gray-box.yakguan-step ol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray-box.yakguan-step ol li:not(:last-child) {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #8092B3;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 56px;
}

.gray-box.yakguan-step ol li span {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    justify-content: center;
    align-items: center;
    color: rgba(79, 103, 147, 0.68);
    background-color: rgba(230, 235, 245, 1);
}

.gray-box.yakguan-step ol li::after {
    content: '';
    height: 1px;
    width: 24px;
    display: block;
    border-top: 1px dotted rgba(128, 146, 179, 1);
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateX(-50%);
}

.gray-box.yakguan-step ol li:last-child:after {
    display: none;
}

.gray-box.yakguan-step ol li.is-active {
    color: var(--font-color-accent);
}

.gray-box.yakguan-step ol li.is-active span {
    background-color: var(--font-color-accent);
    color: #fff;
}

/* text box */
.text-box-section {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color-primary);
}

.text-area-wrap {
    width: 100%;
    height: 160px;
    border: 1px solid var(--color-gray-300);
    overflow-y: scroll;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
}

.title-bar-type {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: var(--font-color-primary);
    display: flex;
    align-items: center;
}

.title-bar-type::before {
    content: '';
    display: inline-flex;
    width: 4px;
    height: 22px;
    background-color: var(--font-color-primary);
    margin-right: 8px;
}

.yakguan-check-area {
    background-color: #E6EBF5;
    padding: 16px;
}

/* 이력서 선택 */
.resume-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
}

.resume-wrap .resume-guide-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--font-color-primary);
    width: 48%;
}

.resume-wrap .resume-guide-text a {
    margin-top: 8px;
    color: var(--font-color-accent);
    display: block;
}

.resume-list-dropdown {
    width: 48%;
}

.resume-list-dropdown .dropdown-wrap {
    position: relative;
    width: 100%;
}

.resume-list-dropdown .dropdown-wrap .btn.btn-resume-select {
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid var(--color-gray-300);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: var(--font-color-primary);
    font-family: Pretendard;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.resume-list-dropdown .dropdown-wrap .btn-resume-select span {
    position: relative;
    color: var(--font-color-accent);
}

.resume-list-dropdown .dropdown-wrap .btn-resume-select span::before {
    content: '';
    width: 1px;
    height: 14px;
    background-color: var(--color-gray-300);
    display: inline-flex;
    margin: 0 8px;
}

.resume-list-dropdown .dropdown-wrap .btn-resume-select .title {
    flex: 1;
    justify-content: flex-start;
    display: flex;
}

.resume-list-dropdown .dropdown-wrap .btn-resume-select .date {
    color: #999999;
    font-size: 16px;
}

.resume-list-dropdown .dropdown-wrap .btn-resume-select::after {
    content: '';
    display: inline-flex;
    width: 32px;
    height: 31px;
    background: url('../img/common/ico-arrow-down-bl.svg') no-repeat;
    transition: all 0.3s;
}

.btn.btn-resume-select.is-active::after {
    transform: rotate(-180deg);
    transition: all 0.3s;
}

.dropdown-list.is-open {
    display: flex;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 56px;
    left: 0;
    border: 1px solid var(--color-gray-300);
}

.must {
    color: var(--color-accent);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.border-line-box {
    border: 1px solid var(--color-gray-300);
    padding: 32px;
    margin-top: 40px;
}

.scroll-type {
    height: 680px;
    overflow-y: auto;
}

/* 폼 섹션 스타일 */
.form-section .section-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-black);
    ;
}

.form-section .check-list {
    display: flex;
    flex-direction: column;
}

.form-section .check-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 16px;
    border-bottom: 1px solid var(--color-gray-300);
}

.form-section .check-list li .tit {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--font-color-primary);
}

.form-section .check-list li .tit strong {
    display: block;
    margin-top: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666;
}

.form-section .check-list li.sub-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 32px;
}


/* 공통 */
.mt-0 {
    margin-top: 0;
}

.mt-8 {
    margin-top: 8px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.gap10 {
    gap: 10px;
}

.wid100p {
    width: 100%;
}

.button-wid150 {
    width: 150px;
    padding: 0;
}

.flex {
    display: flex;
}

.font-bold {
    font-weight: 800;
}

.flex-direction {
    flex-direction: column;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}