
/* 기업 - 기업지원 안내 */
.corporation-area {
  border-top: 2px solid #151515;
  padding-top: 64px;
}
.corporation-area .logo-area {
  display: flex;
  justify-content: space-between;
}
.corporation-area .corporation-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
.corporation-area .corporation-title img {
  width: 456px;
}
.corporation-main {
  width: 100%;
}
.corporation-section1 {
  text-align: center;
  padding: 48px 0;
  background-color: #F8F8F8;
}
.corporation-section1 img {
  width: 100%;
}
.corporation-section2 {
  padding: 64px 0;
  text-align: center;
}
.corporation-section2 p {
  line-height: 32px;
}
.corporation-section2 strong {
  color: var(--color-primary);
  font-weight: 900;
  line-height: 32px;
}
.corporation-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  border: 1px solid #D8D9DA;
  font-weight: 500;
}
.corporation-section3 .btn-join {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 344px;
  height: 96px;
  text-align: center;
  border-radius: 70px;
  font-size: 24px;
  font-weight: 700;
}
.corporation-section4 {
  padding: 64px 0;
}
.corporation-section4 .section-title {
  text-align: center;
  padding-bottom: 64px;
}
.corporation-section4 .section-title img {
  width: 528px;
}
.corporation-section4 .service-list {
  width: 100%;
}
.corporation-section4 .service-list li {
  border-radius: 24px;
  overflow: hidden;
}
.corporation-section4 .service-list li:not(:last-child) {
  margin-bottom: 64px;
}
.corporation-section4 .service-list li .title {
  background-color: var(--color-primary);
  padding: 24px 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.corporation-section4 .service-list li .title a {
  display: inline-block;
  padding: 9px 12px;
  color: var(--color-black);
  background-color: #E1E6F1;
  border-radius: 4px;
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
}
.corporation-section4 .service-list li .service-content {
  display: flex;
  gap: 64px;
  padding: 32px 64px;
}
.corporation-section4 .service-list li .service-content .left img {
  width: 254px;
}
.corporation-section4 .service-list li .service-content .right p {
  line-height: 32px;
  font-weight: 500;
}
.corporation-section4 .service-list li .service-content .right strong {
  font-size: 28px;
}
.corporation-section4 .service-list li .service-content dt {
  display: inline-block;
  background-color: #E6EBF5;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 4px;
  font-weight: 700;
}
.corporation-section4 .service-list li .service-content dd {
  width: 100%;
  padding-left: 16px;
  font-weight: 500;
}
.corporation-section4 .service-list li .service-content .contact {
  padding-top: 24px;
  border-top: 1px solid var(--color-gray-300);
}
.corporation-section4 .service-list li .service-content b {
  margin-right: 4px;
}

/* 기업 - 기업지원 공고 목록 */
.job-card .job-tag.type5 {
  background-color: #ffe7ee;
  color: #e34875;
}

/* 리스트 총 갯수 */
.total-count {
  font-size: 18px;
  padding-bottom: 8px;
  color: #151515;
  border-bottom: 1px solid #151515;
  margin-bottom: 40px;
}
.total-count span {
  font-weight: bold;
}

/* 검색 영역 wrapper */
.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 64px;
}
.filter-wrapper .filter-options-top {
  flex-basis: 50%;
}
.filter-wrapper .filter-options-top .filter-group {
  width: 100%;
}
.filter-wrapper .input-group.search {
  flex-basis: 50%;
  margin-top: 0;
}
.filter-wrapper .filter-options-top .filter-group .filter-list {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 160px);
  background: #fff;   
}
/* 줄바꿈 3 line */
.card-body .title-line.clamp-3-line {
  -webkit-line-clamp: 3;
}
.clamp-3-line ~ .recruitment-info {
  border-top: 1px solid var(--color-gray-300);
}

/* 기업 - 기업지원공고 상세 */
td .list-style-type-none li {
  padding-left: 0;
}
.list-style-type-none li::before {
  display: none;
}


/* 공통 */
.pb-24 {
  padding-bottom: 24px !important;
}
.text-color-gray-700 {
  color: #666 !important;
}


/* 캠퍼스위치 */
.center-table td:nth-last-child(1),
.center-table td:nth-last-child(2),
.center-table td:nth-last-child(4) {
  text-align: center;
}
.subway-line {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}
.s-line-1 {
  background-color: #153275;
}
.s-line-2 {

}
.s-line-3 {
  background-color: #EC7E35;
}
.s-line-4 {
  background-color: #3795CB;
}
.s-line-5 {
  background-color: #67348F;
}
.s-line-6 {
  background-color: #8E4D2E;
}
.s-line-7 {
  background-color: #516E3F;
}
.s-line-kyung {
  background-color: #53B5BD;
}
.s-line-airline {
  background-color: #39507D;
}

td.no-padding {
  padding: 0 !important;
}
td .bus-map {
  padding-top: 0 !important;
}
td .bus-map li {
  min-height: 56px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0 !important;
}
td .bus-map li.col {
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
}
td .bus-map li.col div::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333;
  vertical-align: middle;
}
td .bus-map li:not(:last-child) {
  border-bottom: 1px solid #D8D9DA;
}
.bus-map li::before {
  display: none;
}
.bus-line {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
}
.b-line-1 {
  background-color: #0178FF;
}
.b-line-1-text {
  color: #0178FF;
}
.b-line-2 {
  background-color: #0C9C4D;
}
.b-line-2-text {
  color: #0C9C4D;
}
.b-line-3 {
  background-color: #53C75B;
}
.b-line-3-text {
  color: #53C75B;
}
.b-line-4 {
  background-color: #FF4C4C;
}
.b-line-4-text {
  color: #FF4C4C;
}
.bus-map span[class*='-text']::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #D8D9DA;
  margin: 0 8px;
}

@media (max-width: 768px) {  
  /* 기업 - 기업지원 안내 */
  .corporation-area {
    padding: 64px 16px;
  }
  .corporation-area .corporation-title img {
    width: 100%;
  }
  .corporation-section2 p {
    line-height: 26px;
  }
  .corporation-section3 .btn-join {
    width: 214px;
    height: 64px;
    font-size: 18px;
  }
  .corporation-section4 .section-title img {
    width: 100%;
  }
  .corporation-section4 .service-list li .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .corporation-section4 .service-list li .title a {
    position: static;
    width: 82px;
    transform: translateY(0);
  }
  .corporation-section4 .service-list li .service-content {
    display: block;
    padding: 32px 16px;
  }
  .corporation-section4 .service-list li .service-content .left {
    text-align: center;
  }
  .corporation-section4 .service-list li .service-content .right {
    padding-top: 64px;
  }
  .corporation-section4 .service-list li .service-content .right strong {
    font-size: 24px;
  }
  .corporation-section4 .service-list li .service-content .contact span {
    display: block;
    margin-left: 50px;
  }
  .corporation-section4 .service-list li .service-content .contact > b:first-child::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #333;
    vertical-align: middle;
    margin-right: 2px;
  }
  .filter-wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .filter-wrapper .filter-options-top {
    display: block;
    width: 100%;
  }
  .filter-wrapper .filter-options-top .filter-group {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
  }
  .filter-wrapper .filter-options-top .filter-group .filter-list {
    width: calc(100% - 88px);    
    padding: 16px;    
  }
  .filter-wrapper .filter-options-top .filter-group .filter-list .radio-item {
    display: inline-flex;
    width: 90px;
    white-space: nowrap;
    align-items: center;
  }
  .filter-wrapper .input-group.search {
    display: block;
    width: 100%;
  }
}