/* 공통 value */
:root {
    /* ## Primary Colors (주요 색상) */
    --color-primary: #4F6793;
    --color-secondary: #0178FF;
    --color-secondary-01: #0178FF;

    --color-accent: #FF4C4C;

    /* ## Grayscale Colors (회색조) */
    --color-white: #FFFFFF;
    --color-gray-50: #F8F8F8;
    --color-gray-100: #EDEDED;
    --color-gray-200: #D9DFEC;
    --color-gray-300: #D8D9DA;
    --color-gray-600: #999999;
    --color-gray-700: #666666;
    --color-gray-800: #333333;
    --color-gray-900: #222222;
    --color-black: #151515;

    /* -------------------------------------------------------------------------- */
    /* # Typography
    /* /* 폰트 패밀리, 사이즈, 색상 등을 정의합니다.
    /* -------------------------------------------------------------------------- */

    /* ## Font Family */
    --font-family-main: 'Pretendard', sans-serif;
    --font-family-seoul: 'Nanum Gothic', sans-serif;
    --font-family-gmarket: 'GmarketSansMedium', sans-serif;
    /* 서울시 GNB용 폰트 */

    /* ## Font Color */
    --font-color-primary: #151515;
    --font-color-secondary: #222222;
    --font-color-tertiary: #666666;
    --font-color-placeholder: #999999;
    --font-color-accent: #0178FF;
    --font-color-white: #FFFFFF;


    /* Font Size Scale */
    --font-size-xxl: 40px;
    /* H1 Title */
    --font-size-xl: 32px;
    /* H2 Title */
    --font-size-lg: 24px;
    /* H3 Title, Body Style 1 */
    --font-size-md-2: 22px;
    /* Body Style 2 */
    --font-size-md: 20px;
    /* Body Style 3 */
    --font-size-base-2: 18px;
    /* Body Style 4 */
    --font-size-base: 16px;
    /* Body Style 5 */
    --font-size-sm: 15px;
    /* Caption */
    --font-size-xs: 14px;
    /* Caption Small */

    /* -------------------------------------------------------------------------- */
    /* # Layout & Borders
    /* /* 레이아웃 최대 너비, 보더 색상 등을 정의합니다.
    /* -------------------------------------------------------------------------- */

    /* ## Layout */
    --layout-max-width: 1440px;

    /* ## Border */
    --border-color-primary: #D8D9DA;

    --footer-bg-color: #2C3340;

}